@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.nx-bg-primary-700\/5 {
  background-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .05);
}

.nx-bg-black {
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.dark .nextra-banner-container {
  background-image: linear-gradient(90deg, #383838, #212121);
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.main-bg {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(161,195,241,1) 100%);
}

.dark .main-bg {
  background: radial-gradient(circle, rgba(10,25,47,1) 0%, rgba(13,16,20,1) 100%);
}

.main .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.blue-main-bg {
  /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(161,195,241,1) 100%); */
}

.dark .blue-main-bg {
  /* background: radial-gradient(circle, rgba(10,25,47,1) 0%, rgba(13,16,20,1) 100%); */
}

.badge-container {
  display: flex;
  gap: 10px;
}

.badge-mark-beta:before {
  content: "BETA";
}

.badge-mark-beta {
  background: radial-gradient(circle, rgb(15, 37, 70) 0%, rgba(13,16,20,1) 100%);
  padding: 15px;
  box-shadow: 0px 0px 20px 5px rgba(15, 37, 70, 0.5);
  font-weight: bold;
}

/* about */
.about{
  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dark .about {
  background: rgba(0, 0, 0, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(0, 0, 0, 1);
}

.about-cards {
  margin-top: 25px;
}

.about-cards .card {
  margin-bottom: 20px;
}

.logos {
  justify-content: center;
  align-items: center;
  text-align: center;
}


.span-logo-plus {
  font-size: 50px;
  font-weight: light;
}

.logo-padding {
  padding: 15px;
}

/* .card-image {
  height: 250px;
  width: 250px;
} */

.card-bg {
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.dark .card-bg {
  background: rgba(0, 0, 0, 0.44);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(0, 0, 0, 1);
}

.blog-card-content {
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.dark .blog-card-content {
  background: rgba(11, 11, 11, 0.22);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(0, 0, 0, 1);
}